:root {
  --background-white: #ffffff;
  --background-black: #000000;
  --background-primary: #0a84ff;
  --background-secondary: #757575;
  --background-dark-grey: #404040;
  --background-success: #30d158;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button,
a {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
