:root {
  --background-white: #ffffff;
  --background-black: #000000;
  --background-primary: #0a84ff;
  --background-secondary: #757575;
  --background-success: #30d158;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
a {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
