img {
  border-radius: 32px;
}

.icon-button {
  background-color: var(--background-success);
}

h1.level-3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--background-secondary);

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 180px;

  span.level-1 {
    font-size: 1.5rem;
    color: var(--background-white);
  }
}

.more-actions {
  background-color: var(--background-primary);
}
